script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')

//Bootstrap
script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')

script.
      $('.dropdown-toggle').dropdown('toggle')

script(type='text/javascript', src='/lib/underscore/underscore-min.js')


<!-- jQuery library -->
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
//- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

//AngularJS
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-resource.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-cookies.js')
//Toastr
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Application Init
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')

// Intro.js
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/game.js')
script(type='text/javascript', src='/js/controllers/chat.js')
script(type='text/javascript', src='/js/init.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

<!-- Firebase -->
script(src="https://cdn.firebase.com/js/client/2.2.4/firebase.js")

<!-- AngularFire -->
script(src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js")

<!-- Scroll Glue -->
script(src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/v2.0.2/src/scrollglue.js")

<!-- Moment -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")

<!-- Angular moment -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js")

<!-- WOW JS -->
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

//- script();
//- <script>
//-    $('.dropdown-toggle').dropdown('');
//- </script>
//Livereload script rendered
//script(type='text/javascript', src='https://localhost:35729/livereload.js')