head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="cards against humanity, cards for humanity, offensive card game")
  meta(name="description", content="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good. Cards for Humanity is a fast-paced online version of the popular card game, Cards Against Humanity, that gives you the opportunity to donate to children in need - all while remaining as despicable and awkward as you naturally are.")

  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Oswald|Lobster+Two|Monoton|Abel|Halant|Mate|Open+Sans')

  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Cards for Humanity - A game for horrible people desperately trying to do good')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://cfh.io')
  meta(property='og:image', content='http://cfh.io/img/screenshot-small.png')
  meta(property='og:site_name', content='Cards for Humanity')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  
  //Toastr css
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
  link(rel="stylesheet", media="screen", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel='stylesheet', href='/css/valhalla.css')
  link(rel='stylesheet', href='/css/game.css')
  
  //Tour css
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css')
  link(rel='stylesheet', href='/css/intro.nassim.css')

  // EMOJI
  link(rel='stylesheet', href="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css")

  //if lt IE 9
    script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')
