<div class="rounded" id="instructions-row" style="color: white">
  <div ng-cloak ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
    <div id="cardss" class="hand mt-3">
      <span ng-show="winnerPicked()"></span>
      <div class="cardd smallest alt-card pointer" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
        ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
          <span ng-bind-html-unsafe="card.text" style="position:relative; min-width:100%; top:35%"></span>
          <span id='selection-number' ng-show="showFirst(card)" style="position:absolute; right: 6%"> 1 </span>
          <span id='selection-number' ng-show="showSecond(card)" style="position:absolute; right: 6%"> 2 </span>
      </div>
      <span ng-repeat="answer in game.table">
        <div class="cardd smallest alt-card" ng-style="pointerCursorStyle(answer)" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
          ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="width: 150px; margin: 10px;">
          <span ng-bind-html-unsafe="card.text" style="position:relative; min-width:100%; top:35%"></span>
          <span id='selection-number' ng-show="firstAnswer($index)" style="position:absolute; right: 60%"> 1 </span>
          <span id='selection-number' ng-show="secondAnswer($index)" style="position:absolute; right: 6%"> 2 </span>
        </div>
      </span>
    </div>
  </div>
  
  <!-- HOW TO PLAY -->
  <div ng-show="game.state === 'awaiting players'" class="answer-height card mt-3 py-5 bg-custom">
    <h1 class="text-center">How To Play</h1>
    <ol id="oh-el">
      <li>Each player begins with, and will always have, 10 white answer cards.</li>
      <li>For each round, one player is randomly chosen as the Card Czar.</li>
      <li>Everyone else answers the black question card by clicking on the answer card they want to use.</li>
      <li>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</li>
      <li>*Want to adorn your avatar with a glorious crown? Donate to charity after the game!</li>
    </ol>
  </div>
  <!-- HOW TO PLAY -->
  
  <!-- END OF GAME DECISION -->
  <div id="game-end-container" class="answer-height card mt-3 p-5 text-center bg-custom" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
    <h2 class="mt-3">What would you like to do now?</h2>
    <div class="py-3" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
      You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
    </div>
    <div class="py-3" ng-show="game.state === 'game ended' || game.gameWinner !== -1">
      Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
    </div>
    <div class="mt-3 justify-content-around d-flex">
      <span class="btn btn-primary align-self-center" ng-click="game.joinGame('joinNewGame')">Join a New Game</span>
      <a id="donate-button" class="btn btn-success" style="font-size: 1.2rem; padding: 15px 20px; border-radius: 5px;" href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" target="_blank">Donate Now</a>
      <a class="btn btn-primary align-self-center" href='/'>Return to Lobby </a>
    </div>
  </div>
  <!-- END OF GAME DECISION -->
  
  <!-- DISPLAY WHEN CZAR IS PICKING -->
  <div class="text-center text-dark mt-3" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
    <div ng-show="isCzar()">
      <h1>You are the Card Czar.</h1>
      <p>Players are choosing their answers. Prepare to select a winner.</p>
    </div>
  </div>

  <div class="text-center card mt-3 p-5 bg-custom" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
    <h3>Did you know?</h3>
    <div id='charity-fact'>
      {{ makeAWishFact }}
    </div>
    <img src='/img/make-a-wish-logo.png'/>
  </div>
  <!-- DISPLAY WHEN CZAR IS PICKING -->
  
  <!-- DISPLAY TO OTHER PLAYERS WHEN CZAR IS PICKING -->
  <div class="text-center card mt-3 p-5 bg-custom" ng-show="!isCzar() && game.state === 'czar pick card'">
    <h3>Did you know?</h3>
    <div id='charity-fact'>
      {{ makeAWishFact }}
    </div>
    <img src='/img/make-a-wish-logo.png'/>
  </div>
  <!-- DISPLAY TO OTHER PLAYERS WHEN CZAR IS PICKING -->
</div>
  