
<div ng-controller="GameController" ng-init="takeTour()" id="app-container">

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <div class="container">
      <a class="navbar-brand" href="/">Cards For Humanity</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-link pointer" id="takeTourBtn" ng-click="repeatTour()">
                Take a Tour
            </li>
          <li class="nav-link pointer" id='abandon' ng-click="abandonGame()">
              Abandon Game
          </li>
          <li class="nav-link pointer" id='invite-players' data-toggle="modal" data-target="#myModal" ng-click="inviteModal()" style="background-color: #7ce5e9 !important; color:black">
              Invite Friends
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- NAVBAR -->
  <!-- MAIN CONTENT -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9">
          <div class="row">
            <div class="col-sm-12 col-md-4 mt-3" id="counter">
              <timer></timer>
            </div>
            <div class="col-sm-12 col-md-8 mt-3">
              <question></question>
            </div>
          </div>
          <answers></answers>
        </div>
        <div class="col-sm-12 col-md-3 mt-3 card p-0" style="max-height: 100%;overflow: auto;">
          <h2 class="text-center sticky-top bg-white">Current Players</h2>
          <div id="player-card">
          <player></player>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT -->

  <!-- Modal for searching for users -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title">Invite Players</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          
          <span class="searchfield">
            <input type="text" class="form-control" ng-change="handleSearch()" ng-model="searchValue" placeholder="Search For Players"/>
          </span>

          <table class="table" ng-show="inviteUser">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in inviteUser">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td> <button type="button" ng-click="sendInvites(user)" >Invite</button></td>
              </tr>
            </tbody>
          </table>
          </br>
          <div class="error" ng-show="inviteError">
            <span>{{inviteError}}</span>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- Modal content end -->

    </div>
  </div>
  <!-- Modal for searching for users end -->

  <!-- modal for maxplayer message -->
  <div class="modal" id="maxPlayer" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Room Filled!!!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> Maximun number of players reached. Sorry, You need to start a new game.</p>
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of the modal -->

</div>
