<div ng-controller="IndexController">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="../img/logo.png" height="40px" width="180px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active pointer">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="pointer nav-link btn nav-action-btn text-white" id="start-game" data-toggle="modal" data-target="#myModal" ng-click="startGameModal('custom')">
               Start Game
            </li>&nbsp;&nbsp;
          </ul>
        </div>
      </div>
    </nav>
    <!-- NAVBAR -->

    <div class="container p-t-md mt-5">
        <div class="row pt-5">
            <div class="col-md-12 text-center">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#currentPreferences">Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#alternative"> LeaderBoard </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#link">Donations</a>
                    </li>
                </ul><br><br>
                <div class="tab-content" style="background: white">
                    <div role="tabpanel" class="tab-pane active" id="currentPreferences"><br/>
                        <ul class="list-group media-list media-list-stream">
                            <h4 class="text-center p-3">Game History</h4>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Winner</th>
                                    <th>Players</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                  </tr>
                                </tbody>
                              </table>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="alternative"><br/>
                        <ul class="list-group media-list media-list-stream">
                                <h4 class="text-center p-3">LeaderBoard</h4>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Rounds won</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Doe</td>
                                    <td>7</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Moe</td>
                                    <td>5</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Dooley</td>
                                    <td>3</td>
                                  </tr>
                                </tbody>
                              </table>
                        </ul>
                    </div>
                     <div role="tabpanel" class="tab-pane fade in" id="link"><br/>
                        <ul class="list-group media-list media-list-stream">
                                <h4 class="text-center p-3">Donations</h4>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Avatar</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Doe</td>
                                    <td>Doe</td>
                                    <td>$100</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Moe</td>
                                    <td>Doe</td>
                                    <td>$50</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Dooley</td>
                                    <td>Doe</td>
                                    <td>$10</td>
                                  </tr>
                                </tbody>
                              </table>
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    </div>
