<div>
  <!-- QUESTION AND INFO DISPLAY -->
  <div class="card d-flex flex-column text-center timer-height" id="question-box">

    <!-- NOTIFICATION -->
    <div style="height: 3rem" class="py-3 text-danger">
      <div id="notifications" class="d-inline-block" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOutRight'}">{{game.notification}}</div>
    </div>
    <!-- NOTIFICATION -->

    <!-- INITIAL PAGE DISPLAY -->
    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div>Searching For Players</div>
      <div class="">
        <img style="width: 100px;" ng-src="https://cdn.dribbble.com/users/338744/screenshots/2886346/load-dribbble.gif"/>
        <span id="player-count">{{game.players.length}} / 12 Players</span>
      </div>
      <div id="start-game-container" data-toggle="modal" data-target="#regionModal" ng-show="(game.playerIndex === 0 || game.joinOverride) && game.players.length >= 3">
        <div class="pointer btn nav-action-btn text-white" id='start-game'>
          Start Game with {{game.players.length}} player(s)
        </div>
      </div>
    </div>
    <!-- INITIAL PAGE DISPLAY -->

    <!-- Game Over Stuff -->
    <div id="game-end-info" class="lead">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div>What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
    <!-- Game Over Stuff -->

    <!-- DISPLAY THE QUESTION AND THE ANSWER -->
    <h4 ng-bind-html-unsafe="game.curQuestion.text" class="px-2" ng-hide="game.state === 'czar pick card' || game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></h4>
    <!-- DISPLAY THE QUESTION AND THE ANSWER -->

    <!-- DISPLAY WHEN CZAR IS PICKING CARDS -->
    <div ng-show="!isCzar() && game.state === 'czar pick card'">
      <h3>The Czar is picking a question</h3>
      <img style="width: 100px;" ng-src="https://cdn.dribbble.com/users/338744/screenshots/2886346/load-dribbble.gif"/>
    </div>
    <!-- DISPLAY WHEN CZAR IS PICKING CARDS -->
  </div>
  <!-- QUESTION AND INFO DISPLAY -->
  
  <!-- modal for cant start a game message -->
  <div class="modal" id="cantStartGame" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color:red"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> You need minimum number of 3 players to Start the game, click on invite friends button to invite players</p>
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of the modal -->
  <div id="start-modal" class="modal fade center" role="dialog"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content" style="margin-left: auto; margin-right: auto">
        <div class="modal-header" style="background-color: #495057; color: #FFF;">
          <h5 class="modal-title" style="text-align: center; margin: auto;">Cards For Humanity</h5>
        </div>
        <div class="modal-body" style="min-height: 240px; margin: auto;">
          <h6 id="shuffleText" style="color: rgb(0, 0, 0); text-align: center;">You are the Czar - Click card to pick question</h6>
          <div class="center" style="margin: auto;">
            <div class="shuffle" ng-click="shuffleCards()" ng-style="{'cursor':'pointer'}" style="margin: auto; cursor: pointer;">
              <img src="../img/czar.png" style="width: 100px;" class="animated flipInX" id="shufflecard1">
              <img src="../img/czar.png" style="width: 100px;" class="animated flipInX" id="shufflecard2">
              <img src="../img/czar.png" style="width: 100px;" class="animated flipInX" id="shufflecard3">
              <img src="../img/czar.png" style="width: 100px;" class="animated flipInX" id="shufflecard4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL TO CHOOSE REGION -->
  <div class="modal fade" id="regionModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title">Select Game Region</h5>
        </div>
        <div class="modal-body">
          <select ng-model="regionIndex" class="form-control">
            <option selected value="">Select a region</option>
            <option value="1">Africa</option>
            <option value="2">America</option>
            <option value="3">Australia</option>
            <option value="4">Antarctica</option>
            <option value="5">Europe</option>
            <option value="6">World</option>
          </select>
        </div>
        <div class="text-danger text-center">{{regionError}}</div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn text-white" style="background-color: #1B5E20" ng-click="startGame()">Continue</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL TO CHOOSE REGION -->
</div>
  