<script type="text/javascript">
  $(document).ready(() => {
    new WOW().init();
    $('#fixed-nav').css('background-color', '#495057');    
    // if($(window).width() <= 991) {
    // } else {
    //   $(window).on("scroll", () => {
    //     // show and hide the static donation div
    //     if ($(window).scrollTop() < 110) {
    //       $('#static-donate').css('visibility', 'hidden');
    //     } else {
    //       $('#static-donate').css('visibility', 'visible');
    //     }

    //     // show and hide the navbar
    //     if ($(window).scrollTop() >= 100) {
    //       $('#fixed-nav').css('background-color', '#495057');
    //     } else {
    //       $('#fixed-nav').css('background-color', 'rgba(0, 0, 0, 0)');
    //     }
    //   });
    // }
  });
</script>

<div landing ng-controller="IndexController">
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="fixed-nav" style="background-color: rgba(255, 255, 255, 0)">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="../img/logo.png" height="40px" width="180px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/#!/#how-to-play">How To Play</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/#!/#charity">Charity</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/#!/#team">The Team</a>
          </li>
          <!-- <li ng-show="showOptions" class="nav-item">
            <span class="pointer nav-link" data-toggle="modal" data-target="#signUpModal">SignUp</span>
          </li> -->
          <li ng-hide="showOptions" class="nav-item">
            <a class="nav-link" href="/#!/profile">Profile</a>
          </li>
          <li ng-show="showOptions" class="nav-item">
            <span class="pointer nav-link btn nav-action-btn text-white" data-toggle="modal" data-target="#loginModal">Sign In</span>
          </li>
          <li ng-hide="showOptions" class="nav-item">
            <span class="pointer nav-link btn nav-action-btn text-white" ng-click="signOut()">Sign Out</span>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="reset-modal">
    <div>
      <h3 class="text-center">Choose password</h3>
    </div>
    <form ng-submit="resetPassword()">
        <div class="form-group col-sm-12">
          <label for="control-label">Password</label>
          <input type="password" class="form-control" ng-model="password" placeholder="Enter password">
            <div ng-show="hasError" class="text-danger">
              {{hasError.password}}
            </div>
        </div>
        <div class="form-group col-sm-12">
          <label for="control-label">Confirm password</label>
          <input type="password" class="form-control" ng-model="confirmPassword" placeholder="Enter password again">
            <div ng-show="hasError" class="text-danger">
              {{hasError.confirmPassword}}
              {{hasError.passwordMismatch}}
            </div>
        </div>
        <hr>
        <button class="form-group col-sm-12 btn btn-login action-btn" type="submit" id="reset-password">
          Reset password
        </button>
      </form>
  </div>
  <!-- NAVBAR -->
  <button data-toggle="modal" data-target="#successModal" class="btn btn-login btn-lg btn-block" id="openSuccessModal" hidden>
    open modal
  </button>
  <!-- Start of Second Signup Modal -->
  <div id="successModal" class="modal fade">
      <button type="button" class="close" data-dismiss="modal" id="closeSuccessModal" hidden>&times;</button>
      <div class=" success-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="../img/icons/checkmark-64.png" class="check-mark" alt="" height="100px" width="100px">
              <div ng-show="showSuccessMessage" class="text-center">
                {{showSuccessMessage}}
              </div>
              <button type="button" class="btn btn-outline-success" ng-click="closeSuccessDialog()" id="close-sucess-dialog">close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  