$grayish-white : #dcdcdc;
$burnt-orange: #cc5500;
$little-gray: #f5f5f5;
$white: #ffffff;
$teal-green: #00978b;

body {
  background-color: $grayish-white;
  font-family: 'Lobster Two', cursive;
  font-size: 1.3rem;
}

.pointer {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.introduction {
  background: url("https://images.unsplash.com/photo-1525900732548-63510d8d4fca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2b0f98d5876886314918126deafb3af0&auto=format&fit=crop&w=1567&q=80") no-repeat fixed center;
  background-size: cover;
  letter-spacing: 2px;
  height: 60vh;

  .introduction-overlay {
    background-color: rgba(0 ,0, 0, 0.5);
    height: 100%;
  }

  h1 {
    font-family: 'Lobster Two', cursive;
  }

  a {
    font-family: 'Lobster Two', cursive;
  }
}

.how-to-play {
  background-color: $little-gray;

  .card {
    border-radius: 15px;
  }

  .card-body {
    border-radius: 15px;
    font-family: 'Marck Script', cursive;
    font-size: 1.2rem;

    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  .card-properties {
    height: 400px;
    margin: 0 auto;
    max-width: 350px;
  }

  .play-steps {
    font-size: 1.3rem;
  }

  h1 {
    color:$burnt-orange;
    font-family: 'Monoton', cursive;
  }
}

.charity {
  background-color: $grayish-white;

  h1 {
    color:$burnt-orange;
    font-family: 'Monoton', cursive;
  }
}

.team {
  background-color: $little-gray;

  img {
    height: 150px;
    transition-property: transform;
    transition-duration: 2s;
    width: 150px;

    &:hover {
      transform: scale(1.2);
    }
  }

  h1 {
    color:$burnt-orange;
    font-family: 'Monoton', cursive;
  }
}

.image {
  height: 200px;
  width: 100%;
}

.signup-button {
  background: $burnt-orange;
  color: $white;
  font-size: 1.2rem;
  padding: 20px 30px;

  &:hover {
    background: $white;
    color: $burnt-orange;
  }
}

.guest-play-button {
  background: $teal-green;
  color: $white;
  font-size: 1.2rem;
  padding: 20px 30px;

  &:hover {
    background: $white;
    color: $teal-green;
  }
}

.bg-custom {
  background-color: $burnt-orange;
}
