body {
  background-color: #dcdcdc;
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem; }

.pointer {
  cursor: pointer; }

a:hover {
  text-decoration: none; }

.introduction {
  background: url("https://images.unsplash.com/photo-1525900732548-63510d8d4fca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2b0f98d5876886314918126deafb3af0&auto=format&fit=crop&w=1567&q=80") no-repeat fixed center;
  background-size: cover;
  letter-spacing: 2px;
  height: 60vh; }
  .introduction .introduction-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%; }
  .introduction h1 {
    font-family: 'Lobster Two', cursive; }
  .introduction a {
    font-family: 'Lobster Two', cursive; }

.how-to-play {
  background-color: #f5f5f5; }
  .how-to-play .card {
    border-radius: 15px; }
  .how-to-play .card-body {
    border-radius: 15px;
    font-family: 'Marck Script', cursive;
    font-size: 1.2rem; }
    .how-to-play .card-body:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .how-to-play .card-properties {
    height: 400px;
    margin: 0 auto;
    max-width: 350px; }
  .how-to-play .play-steps {
    font-size: 1.3rem; }
  .how-to-play h1 {
    color: #cc5500;
    font-family: 'Monoton', cursive; }

.charity {
  background-color: #dcdcdc; }
  .charity h1 {
    color: #cc5500;
    font-family: 'Monoton', cursive; }

.team {
  background-color: #f5f5f5; }
  .team img {
    height: 150px;
    transition-property: transform;
    transition-duration: 2s;
    width: 150px; }
    .team img:hover {
      transform: scale(1.2); }
  .team h1 {
    color: #cc5500;
    font-family: 'Monoton', cursive; }

.image {
  height: 200px;
  width: 100%; }

.signup-button {
  background: #cc5500;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 20px 30px; }
  .signup-button:hover {
    background: #ffffff;
    color: #cc5500; }

.guest-play-button {
  background: #00978b;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 20px 30px; }
  .guest-play-button:hover {
    background: #ffffff;
    color: #00978b; }

.bg-custom {
  background-color: #cc5500; }

.socy {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 2px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px; }

.btn-fb {
  background: #4060A5; }

.btn-fb:before {
  font-family: "FontAwesome";
  content: "\f09a"; }

.btn-fb:hover {
  color: #4060A5;
  background: #fff; }

.btn-tw {
  background: #00ABE3; }

.btn-tw:before {
  font-family: "FontAwesome";
  content: "\f099"; }

.btn-tw:hover {
  color: #00ABE3;
  background: #fff; }

.btn-gg {
  background: #e64522; }

.btn-gg:before {
  font-family: "FontAwesome";
  content: "\f0d5"; }

.btn-gg:hover {
  color: #e64522;
  background: #fff; }

.btn-ig {
  background: #cb2027; }

.btn-ig:before {
  font-family: "FontAwesome";
  content: "\f16d"; }

.btn-ig:hover {
  color: #cb2027;
  background: #fff; }

.btn-login {
  color: white;
  background-color: #cc5500; }

.social-buttons a {
  margin: 12px 0;
  width: 49%; }

#social {
  margin: 20px 10px;
  text-align: center; }

#contain-avatars {
  margin-top: 25px; }

.avatar-list {
  overflow: hidden;
  padding-left: 0px;
  margin-left: 3%; }

.avatar-list img {
  max-width: 60%; }

.avatars {
  position: relative;
  float: left;
  margin: 2px 5px;
  border-radius: 8px; }

.finish-signup-button {
  margin-top: 35px; }

.hide {
  display: none; }

.success-modal {
  width: 100%;
  max-width: 250px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%; }

.check-mark {
  height: 100px;
  width: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px; }

.btn-outline-success {
  margin-top: 15px;
  width: 40%;
  display: block;
  margin-right: auto;
  margin-left: auto; }

.rounded-circle {
  margin-left: 20px; }

#select-option {
  margin-bottom: 20px; }
